extends ../layouts/connexion-layout



block content
    form.form-signin
        h2.form-signin-heading Please sign up
        label.sr-only(for='input-email') Email address
        input#input-email.form-control(type='email', placeholder='Email address', required='')
        label.sr-only(for='input-password') Password
        input#input-password.form-control(type='password', placeholder='Password', required='')
        label.sr-only(for='input-re-password') Password
        input#input-re-password.form-control(type='password', placeholder='Re-enter Password', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
        a(href='/views/signin') Sign In
    .alert.alert-success
    .alert.alert-danger

block scripts
    script(src='/javascripts/services/connection.service.js')
    script(src='/javascripts/controllers/signup.controller.js')
