extends ../layouts/connexion-layout

block content
    form.form-signin
        h2.form-signin-heading Please sign in
        label.sr-only(for='input-email') Email address
        input#input-email.form-control(type='email', placeholder='Email address', required='', value='admin@admin.com')
        label.sr-only(for='input-password') Password
        input#input-password.form-control(type='password', placeholder='Password', required='', value='admin')
        //.checkbox
        //    label
        //        input(type='checkbox', value='remember-me')
        //        |  Remember me
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        a(href='/views/signup') Sign up
    .alert.alert-danger

block scripts
    script(src='/javascripts/services/connection.service.js')
    script(src='/javascripts/controllers/signin.controller.js')