extends ../layouts/settings-layout

block content
    .container
        .setting-api
            .setting-title.flex-row
                img(src='/images/spotify.png' alt='/images/spotify.png')
                h1  Spotify settings
            .spotify
                .login
                    a.btn.btn-primary(href='/connector/connection/spotify/login') Log in with Spotify
                .loggedIn.flex-row
                    p Connecté
                    a.btn.btn-primary(href='/connector/connection/spotify/logout') Log out

        .setting-api
            .setting-title.flex-row
                img(src='/images/deezer.png' alt='/images/deezer.png')
                h1 Deezer settings
            .deezer
                .login
                    a.btn.btn-primary(href='/connector/connection/deezer/login') Log in with Deezer
                .loggedIn.flex-row
                    p Connecté
                    a.btn.btn-primary(href='/connector/connection/deezer/logout') Log out

block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/javascripts/services/settings.service.js')
    script(src='/javascripts/controllers/settings.controller.js')
    script(src='/javascripts/services/connection.service.js')
    script(src='/javascripts/controllers/signout.controller.js')