extends ../layouts/settings-layout

block content
    .container
        h1 Spotify settings
        a.btn.btn-primary(href='/spotify/login') Log in with Spotify

        h1 Deezer settings
        a.btn.btn-primary(href='/deezer/login') Log in with Deezer


block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/javascripts/spotify.js')