/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
    padding-bottom: 9px;
    margin-bottom: 20px;
}

/*main {*/
    /*top: 0px;*/
    /*bottom: 62px;*/
/*}*/
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 62px;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    box-sizing: border-box;
}

.bottom-up {
    margin-bottom: 62px;
}

.sidebar .nav-menu {
    cursor: pointer;
}

.sidebar .nav {
    margin-bottom: 20px;
    box-sizing: border-box;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-link {
    border-radius: 0;
}

.sidebar form {
    padding: 5px;
    box-sizing: border-box;
}

.sidebar .aside-btn {
    text-decoration: none;
    border: 0px;
    font-size: 24px;
    margin: 5px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}


.alert {
    display:none;
    margin-top:25px;
}

/*
 * Dashboard
 */

table tbody {  display:block;  max-height:300px;  overflow-y:scroll;
}

table thead, tbody tr {  display:table;  width:100%;  table-layout:fixed;
}

table.result thead tr th:nth-child(1), table.result tbody tr td:nth-child(1),
table.result thead tr th:nth-child(2), table.result tbody tr td:nth-child(2) {
    width: 50px;
}

table.result thead tr th:nth-child(6), table.result tbody tr td:nth-child(6) {
    width: 100px;
}

table.playlist thead tr th:nth-child(1), table.playlist tbody tr td:nth-child(1),
table.playlist thead tr th:nth-child(2), table.playlist tbody tr td:nth-child(2),
table.playlist thead tr th:nth-child(3), table.playlist tbody tr td:nth-child(3) {
    width: 50px;
}

table.playlist thead tr th:nth-child(7), table.playlist tbody tr td:nth-child(7) {
    width: 100px;
}

.img-btn, table.playlist .img-platform  {
    width: 32px;
    height: 32px;
}

.img-btn:hover {
    opacity: 0.8;
}

.flex-row {
    display: flex;
    align-items : baseline;
}

.flex-row > * {
    margin-right: 10px;
    box-sizing: border-box;
    margin-top:auto;
    margin-bottom:auto;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.img-delete{
    height: 40px;
    margin-top:auto;
    margin-bottom:auto;
}

.img-delete:hover{
    opacity: 0.8;
}


.api-title img{
    height: 60px;
}

.api-title {
    margin-bottom: 10px;
}


/*
 Player
*/

.sm2-bar-ui {
    font-size: 22px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
    background-color: #343a40;
}
.sm2-bar-ui .sm2-inline-texture {
    background: transparent;
}


/*
Toast
 */

/* The snackbar - position it at the bottom and in the middle of the screen */
.toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #343a40; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 80px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast.show {
    visibility: visible; /* Show the snackbar */
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}