extends layouts/musics-layout

block content
    h1= message
    h2= error.status
    pre #{error.stack}

block scripts
    script(src='/soundmanager/script/soundmanager2-jsmin.js')
    script(src='/soundmanager/demo/bar-ui/script/bar-ui.js')
    script(src='/javascripts/services/musics.service.js')
    script(src='/javascripts/controllers/musics.controller.js')
    script(src='/javascripts/services/connection.service.js')
    script(src='/javascripts/controllers/signout.controller.js')