extends layouts/layout

block content
    h1 Résultat
    .table-responsive
        table.table.table-striped
            thead
                tr
                    th
                    th Titre
                    th Artiste
                    th Album
                    th Durée
            tbody.tbody-musics

block scripts
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='/javascripts/index.js')
    script(src='/javascripts/signout.js')

