extends layouts/musics-layout

block content
    h1 Résultats
    .modal.fade#modal-create-playlist
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Playlist name
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body
                    form#create-playlist-form
                        .form-group.row
                            .col-sm-12
                                input#playlist-name-input.form-control.form-control-lg(type='text', placeholder='Playlist name', required='')
                        .alert.alert-success.col-sm-12
                        .alert.alert-danger.col-sm-12
                .modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Close
                    button.btn.btn-primary#save-playlist-button(type="submit") Save

    .api-title.flex-row
        img(src='/images/spotify.png' alt='/images/spotify.png')
        h2.api-title.flex-row Spotify
    .table-responsive.spotify
        table.table.table-striped
            thead
                tr
                    th
                    th
                    th Titre
                    th Artiste
                    th Album
                    th Durée
            tbody.tbody-musics

    .api-title.flex-row
        img(src='/images/deezer.png' alt='/images/deezer.png')
        h2 Deezer
    .table-responsive.deezer
        table.table.table-striped
            thead
                tr
                    th
                    th
                    th Titre
                    th Artiste
                    th Album
                    th Durée
            tbody.tbody-musics
    #toast.toast
        | Toast Message


block footer
    .sm2-bar-ui.flat.full-width.fixed
        .bd.sm2-main-controls(style="background-color: rgb(52, 58, 64);")
            .sm2-inline-texture
            .sm2-inline-gradient
            .sm2-inline-element.sm2-button-element
                .sm2-button-bd
                    a.sm2-inline-button.sm2-icon-play-pause(href="#play") Play / pause
            .sm2-inline-element.sm2-inline-status
                .sm2-playlist
                    .sm2-playlist-target
                        ul.sm2-playlist-bd
                            li
                                b No Sound
                .sm2-progress
                    .sm2-row
                        .sm2-inline-time 0:00
                        .sm2-progress-bd
                            .sm2-progress-track
                                .sm2-progress-bar(style="width: 1.16118%;")
                                .sm2-progress-ball(style="left: 1.16118%;")
                                    .icon-overlay
                        .sm2-inline-duration 0:00
            .sm2-inline-element.sm2-button-element.sm2-volume
                .sm2-button-bd
                    span.sm2-inline-button.sm2-volume-control.volume-shade
                    a.sm2-inline-button.sm2-volume-control(href="#volume", style="clip: rect(0px 23px 42px 9.24px);") volume
        .bd.sm2-playlist-drawer.sm2-element
            .sm2-inline-texture
                .sm2-box-shadow
            // playlist content is mirrored here
            .sm2-playlist-wrapper
                ul.sm2-playlist-bd
                    li.selected
                        b No Sound


block scripts
    script(src='/soundmanager/script/soundmanager2-jsmin.js')
    script(src='/soundmanager/demo/bar-ui/script/bar-ui.js')
    script(src='/javascripts/services/musics.service.js')
    script(src='/javascripts/controllers/musics.controller.js')
    script(src='/javascripts/services/connection.service.js')
    script(src='/javascripts/controllers/signout.controller.js')
